<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" ng-href="#!/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/firmyLotnicze/{{Navbar.id()}}">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/piloci/">Piloci</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/firmyLotnicze/{{Navbar.id()}}/samoloty">Samoloty</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/firmyLotnicze/{{Navbar.id()}}/lotniska">Lotniska</a>
                </li> 
                 <li class="nav-item">
                    <a class="nav-link" ng-href="#!/firmyLotnicze/{{Navbar.id()}}/loty">Loty</a>
                </li> 
                 <li class="nav-item">
                    <a class="nav-link" ng-href="#!/daty">Daty</a>
                </li> 
                </li> 
                 <li class="nav-item">
                    <a class="nav-link" ng-href="#!/trasy">Trasy</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" ng-href="#!/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>