<div class="container">
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane lotów pilota:</h4>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lot id</th>
                <th scope="col">Typ samolotu</th>
                <th scope="col">Trasa</th>
                <th scope="col">Wylot</th>
                <th scope="col">Przylot</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lot in loty">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/loty/{{lot.id_lotu}}">{{lot.id_lotu}}</a>
                </th>
                <td>
                    <span>{{lot.samolot.typ}}</span>
                </td>
                <td>
                    <span>{{lot.trasa.poczatek.miejscowosc}} ({{lot.trasa.poczatek.iata}}) -> {{lot.trasa.koniec.miejscowosc}}
                        ({{lot.trasa.koniec.iata}})
                    </span>
                </td>
                <td>
                    <span>{{lot.dataLotu.wylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
                <td>
                    <span>{{lot.dataLotu.przylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>