<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            Lot id
        </div>
        <div class="col-sm-2 text-center">
            Typ samolotu
        </div>
        <div class="col-sm text-center">
            Wylot z
        </div>
        <div class="col-sm text-center">
            Przylot do
        </div>
        <div class="col-sm-3 text-center">
            Wylot
        </div>
        <div class="col-sm-3 text-center">
            Przylot
        </div>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="lot in loty">
            <div class="row">
                <div class="col-sm text-center">
                    <span >
                        <a ng-href="http://localhost:8081/#!/loty/{{lot.id_lotu}}">{{lot.id_lotu}}</a>
                    </span>
                </div>
                <div class="col-sm-2 text-center">
                    <span >{{lot.samolot.typ}}</span>
                </div>
                <div class="col-sm text-center">
                    <span >{{lot.trasa.poczatek.miejscowosc}}</span>
                </div>
                <div class="col-sm text-center">
                    <span >{{lot.trasa.koniec.miejscowosc}}</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span >{{lot.dataLotu.wylot|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span >{{lot.dataLotu.przylot|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>

            </div>
        </li>
    </ul>
</div>