<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id daty:</th>
                <td colspan="3">{{date.id_daty}}</td>
            </tr> -->
            <tr>
                <td>Wylot:</td>
                <td>{{date.wylot|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>Przylot:</td>
                <td>{{date.przylot|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
</div>