<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id lotniska:</th>
                <td>{{lotnisko.id_lotniska}}</td>
            </tr> -->
            <tr>
                <th>Miejscowosc:</th>
                <td>{{lotnisko.miejscowosc}}</td>
            </tr>
            <tr>
                <th>Iata:</th>
                <td>{{lotnisko.iata}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>