<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>Id trasy:</th>
                <td colspan="5">{{trasa.id_trasy}}</td>
            </tr>
            <tr>
                <th colspan="6">Początek trasy:</th>
            </tr>
            <tr>
                <th>Id lotniska:</th>
                <td>{{trasa.poczatek.id_lotniska}}</td>
                <th>Iata:</th>
                <td>{{trasa.poczatek.iata}}</td>
                <th>Miejscowosc:</th>
                <td>{{trasa.poczatek.miejscowosc}}</td>
            </tr>
            <tr>
                <th colspan="6">Koniec trasy:</th>
            </tr>
            <tr>
                <th>Id lotniska:</th>
                <td>{{trasa.koniec.id_lotniska}}</td>
                <th>Iata:</th>
                <td>{{trasa.koniec.iata}}</td>
                <th>Miejscowosc:</th>
                <td>{{trasa.koniec.miejscowosc}}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
        </table>
    </div>
</div>