<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id klienta:</th>
                <td>{{klient.id_klienta}}</td>
            </tr> -->
            <tr>
                <th>Imie:</th>
                <td>{{klient.imie}}</td>
            </tr>
            <tr>
                <th>Nazwisko:</th>
                <td>{{klient.nazwisko}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>