<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id firmy lotniczej:</th>
                <td>{{firmaLotnicza.id_firmyLotniczej}}</td>
            </tr> -->
            <tr>
                <td>Nazwa:</td>
                <td>{{firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Iata:</td>
                <td>{{firmaLotnicza.iata}}</td>

            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{firmaLotnicza.adres}}</td>
            </tr>
            <tr>
                <td>Kraj:</td>
                <td>{{firmaLotnicza.kraj}}</td>
            </tr>
            <tr>
                <td>Nip:</td>
                <td>{{firmaLotnicza.nip}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button ng-click="prepare(firmaLotnicza)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit firma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nazwa:
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="firmaLotnicza.nazwa" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Iata:
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="firmaLotnicza.iata" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Adres:
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" maxlength="25" ng-model="firmaLotnicza.adres" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Kraj:
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="firmaLotnicza.kraj" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nip:
                                    </span>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" ng-model="firmaLotnicza.nip" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-click="updateFirmaLotnicza()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>