<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id pilota:</th>
                <td>{{pilot.id_pilota}}</td>
            </tr> -->
            <tr>
                <th>Imie:</th>
                <td>{{pilot.imie}}</td>
            </tr>
            <tr>
                <th>Nazwisko:</th>
                <td>{{pilot.nazwisko}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button ng-click="prepare(pilot)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edytuj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj pilota</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formPilot" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Name:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="imie" type="text" ng-model="pilot.imie" required ng-class="{ 'is-invalid' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.imie.$touched">
                                    <div ng-show="formPilot.imie.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Surname:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="nazwisko" type="text" ng-model="pilot.nazwisko" required ng-class="{ 'is-invalid' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.nazwisko.$touched">
                                    <div ng-show="formPilot.nazwisko.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-click="updatePilot()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>