<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id biletu:</th>
                <td colspan="3">{{bilet.id_biletu}}</td>
            </tr> -->
            <tr>
                <td>Klasa:</td>
                <td colspan="3">{{bilet.klasa}}</td>
            </tr>
            <tr>
                <td>Nr miejsca:</td>
                <td colspan="3">{{bilet.nr_miejsca}}</td>
            </tr>
            <tr>
                <td>Firma lotnicza:</td>
                <td colspan="3">{{bilet.lot.samolot.firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Typ samolotu:</td>
                <td colspan="3">{{bilet.lot.samolot.typ}}</td>
            </tr>
            <!-- <tr>
                <th colspan="4">Trasa:</th>
            </tr> -->
            <tr>
                <td>Początek:</td>
                <td>{{bilet.lot.trasa.poczatek.miejscowosc}}</td>
                <td>Koniec:</td>
                <td>{{bilet.lot.trasa.koniec.miejscowosc}}</td>
            </tr>
            <!-- <tr>
                <th colspan="4">Data lotu:</th>
            </tr> -->
            <tr>
                <td>Wylot:</td>
                <td>{{bilet.dataLotu.wylot|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>Przylot:</td>
                <td>{{bilet.dataLotu.przylot|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
</div>