<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id lotu:</th>
                <td>{{lot.id_lotu}}</td>
            </tr> -->
            <tr>
                <th colspan="4">Pilot:</th>
            </tr>
            <tr>
                <td>Imie:</td>
                <td colspan="3">{{lot.pilot.imie}}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td colspan="3">{{lot.pilot.nazwisko}}</td>
            </tr>
            <tr>
                <th colspan="4">Samolot:</th>
            </tr>
            <tr>
                <td>Firma lotnicza:</td>
                <td colspan="3">{{lot.samolot.firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Typ samolotu:</td>
                <td colspan="3">{{lot.samolot.typ}}</td>
            </tr>
            <tr>
                <td>Ilosc miejsc:</td>
                <td colspan="3">{{lot.samolot.iloscMiejsc}}</td>
            </tr>
            <tr>
                <th colspan="4">Trasa:</th>
            </tr>
            <tr>
                <td>Początek:</td>
                <td>{{lot.trasa.poczatek.miejscowosc}}</td>
                <td>Koniec:</td>
                <td>{{lot.trasa.koniec.miejscowosc}}</td>
            </tr>
            <tr>
                <th colspan="4">Data lotu:</th>
            </tr>
            <tr>
                <td>Wylot:</td>
                <td>{{lot.dataLotu.wylot|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>Przylot:</td>
                <td>{{lot.dataLotu.przylot|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button ng-click="prepare(lot)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edytuj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj lot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formLot" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formLot.samolot.$invalid && (formLot.$submitted || formLot.samolot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Samolot:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" name="samolot" ng-model="lot.samolot" ng-options="samolot.typ for samolot in samoloty" required
                                        ng-class="{ 'is-invalid' : formLot.samolot.$invalid && (formLot.$submitted || formLot.samolot.$touched) }"></select>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.samolot.$touched">
                                    <div ng-show="formLot.samolot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mw-100 col-sm">
                                    <div class="form-group" ng-class="{ 'text-danger' : formLot.klasa.$invalid && (formLot.$submitted || formLot.klasa.$touched)}">
                                        <div class="mw-100 col-sm-3">
                                            <span>
                                                Klasa:
                                            </span>
                                        </div>
                                        <div class="mw-100 col-sm-3">
                                            <select class="custom-select" name="klasa" ng-model="lot.klasa" required ng-class="{ 'is-invalid' : formLot.klasa.$invalid && (formLot.$submitted || formLot.klasa.$touched) }">
                                                <option value="Ekonomiczna">Ekonomiczna</option>
                                                <option value="Biznes">Biznes</option>
                                                <option value="Pierwsza">Pierwsza</option>
                                            </select>
                                        </div>
                                        <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.klasa.$touched">
                                            <div ng-show="formLot.klasa.$error.required">
                                                Pole wymagane!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mw-100 col-sm">
                                    <div class="form-group" ng-class="{ 'text-danger' : formLot.iloscMiejsc.$invalid && (formLot.$submitted || formLot.iloscMiejsc.$touched)}">
                                        <div class="mw-100 col-sm-3">
                                            <span>
                                                Ilosc miejsc:
                                            </span>
                                        </div>
                                        <div class="mw-100 col-sm-3">
                                            <input class="form-control" name="iloscMiejsc" type="number" ng-model="lot.iloscMiejsc" required ng-class="{ 'is-invalid' : formLot.iloscMiejsc.$invalid && (formLot.$submitted || formLot.iloscMiejsc.$touched) }"
                                            />
                                        </div>
                                        <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.iloscMiejsc.$touched">
                                            <div ng-show="formLot.iloscMiejsc.$error.required">
                                                Pole wymagane!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLot.pilot.$invalid && (formLot.$submitted || formLot.pilot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Pilot:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" name="pilot" ng-model="lot.pilot" ng-options="pilot.imie+' '+pilot.nazwisko for pilot in pilots"
                                        required ng-class="{ 'is-invalid' : formLot.pilot.$invalid && (formLot.$submitted || formLot.pilot.$touched) }"></select>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.pilot.$touched">
                                    <div ng-show="formLot.pilot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLot.trasa.$invalid && (formLot.$submitted || formLot.trasa.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Trasa:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" name="trasa" ng-model="lot.trasa" ng-options="trasa.poczatek.miejscowosc+'('+trasa.poczatek.iata+') -> '+trasa.koniec.miejscowosc+'('+trasa.koniec.iata+')' for trasa in trasy"
                                        required ng-class="{ 'is-invalid' : formLot.trasa.$invalid && (formLot.$submitted || formLot.trasa.$touched) }"></select>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.trasa.$touched">
                                    <div ng-show="formLot.trasa.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLot.wylot.$invalid && (formLot.$submitted || formLot.wylot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Departure date:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" name="wylot" id="wylot" type="datetime-local" ng-model="lot.dataLotu.wylot" required ng-class="{ 'is-invalid' : formLot.wylot.$invalid && (formLot.$submitted || formLot.wylot.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.wylot.$touched">
                                    <div ng-show="formLot.wylot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLot.przylot.$invalid && (formLot.$submitted || formLot.przylot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Date of arrival:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" dataCheck='wylot' name="przylot" type="datetime-local" ng-model="lot.dataLotu.przylot" required
                                        ng-class="{ 'is-invalid' : formLot.przylot.$invalid && (formLot.$submitted || formLot.przylot.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLot.$submitted || formLot.przylot.$touched">
                                    <div ng-show="formLot.przylot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                                <div ng-show="formLot.$submitted || formLot.przylot.$touched">
                                    <div ng-show="formLot.przylot.$error.afterDate">
                                        Date is not after departure date!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-click="updateLot()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>