<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id lotniska:</th>
                <td>{{lotnisko.id_lotniska}}</td>
            </tr> -->
            <tr>
                <th>Miejscowosc:</th>
                <td>{{lotnisko.miejscowosc}}</td>
            </tr>
            <tr>
                <th>Iata:</th>
                <td>{{lotnisko.iata}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button ng-click="prepare(lotnisko)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edytuj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj lotnisko</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formLotnisko" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Miejscowosc:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="miejscowosc" type="text" ng-model="lotnisko.miejscowosc" required ng-class="{ 'is-invalid' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.miejscowosc.$touched">
                                    <div ng-show="formLotnisko.miejscowosc.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Iata:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="iata" type="text" ng-model="lotnisko.iata" minlength="3" maxlength="3" required ng-class="{ 'is-invalid' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.iata.$touched">
                                    <div ng-show="formLotnisko.iata.$error.required">
                                        Pole wymagane!</div>
                                    <div ng-show="formLotnisko.iata.$error.minlength || formLotnisko.iata.$error.maxlength">
                                        The value must have 3 characters!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-click="updateLotnisko()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>