<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id daty:</th>
                <td colspan="3">{{date.id_daty}}</td>
            </tr> -->
            <tr>
                <td>Wylot:</td>
                <td>{{date.wylot|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>Przylot:</td>
                <td>{{date.przylot|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
    <!-- Button trigger modal -->
    <div class="row">
        <button ng-click="prepare(date)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edytuj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj datę lotu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <form name="formDataLotu" novalidate>
                                <div class="form-group" ng-class="{ 'text-danger' : formDataLotu.wylot.$invalid && (formDataLotu.$submitted || formDataLotu.wylot.$touched)}">
                                    <div class="mw-100 col-sm-3">
                                        <span>
                                            Departure date:
                                        </span>
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <input class="form-control" type="datetime-local" name="wylot" id="wylot" ng-model="date.wylot" required ng-class="{ 'is-invalid' : formDataLotu.wylot.$invalid && (formDataLotu.$submitted || formDataLotu.wylot.$touched) }"
                                        />
                                    </div>
                                    <div class="mw-100 col-sm-4" ng-show="formDataLotu.$submitted || formDataLotu.wylot.$touched">
                                        <div ng-show="formDataLotu.wylot.$error.required">
                                            Pole wymagane!</div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'text-danger' : formDataLotu.przylot.$invalid && (formDataLotu.$submitted || formDataLotu.przylot.$touched)}">
                                    <div class="mw-100 col-sm-3">
                                        <span>
                                            Date of arrival:
                                        </span>
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <input class="form-control" type="datetime-local" name="przylot" dataCheck='wylot' ng-model="date.przylot" required ng-class="{ 'is-invalid' : formDataLotu.przylot.$invalid && (formDataLotu.$submitted || formDataLotu.przylot.$touched) }"
                                        />
                                    </div>
                                    <div class="mw-100 col-sm-4" ng-show="formDataLotu.$submitted || formDataLotu.przylot.$touched">
                                        <div ng-show="formDataLotu.przylot.$error.required">
                                            Pole wymagane!</div>
                                    </div>
                                    <div ng-show="formDataLotu.$submitted || formDataLotu.przylot.$touched">
                                        <div ng-show="formDataLotu.przylot.$error.afterDate">
                                            Date is not after departure date!</div>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-click="updateDate()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>