<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id trasy:</th>
                <td colspan="3">{{trasa.id_trasy}}</td>
            </tr> -->
            <tr>
                <th colspan="4">Początek trasy:</th>
            </tr>
            <tr>
                <!-- <th>Id lotniska:</th>
                <td>{{trasa.poczatek.id_lotniska}}</td> -->
                <th>Miejscowosc:</th>
                <td>{{trasa.poczatek.miejscowosc}}</td>
                <th>Iata:</th>
                <td>{{trasa.poczatek.iata}}</td>
            </tr>
            <tr>
                <th colspan="4">Koniec trasy:</th>
            </tr>
            <tr>

                <!-- <th>Id lotniska:</th>
                    <td>{{trasa.koniec.id_lotniska}}</td> -->
                <th>Miejscowosc:</th>
                <td>{{trasa.koniec.miejscowosc}}</td>
                <th>Iata:</th>
                <td>{{trasa.koniec.iata}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button ng-click="prepare(trasa)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit trasa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Poczatek:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <select class="custom-select" ng-model="trasa.poczatek" ng-options="lotnisko.miejscowosc+' ('+lotnisko.iata+')'  for lotnisko in lotniska"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <span>
                                        Koniec:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" ng-model="trasa.koniec" ng-options="lotnisko.miejscowosc+' ('+lotnisko.iata+')'  for lotnisko in lotniska"></select>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-click="updateTrasa()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>