<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id firmy:</th>
                <td>{{firma.id_firmy}}</td>
            </tr> -->
            <tr>
                <td>Nazwa:</th>
                    <td>{{firma.nazwa}}</td>
            </tr>
            <tr>
                <td>Nip:</th>
                    <td>{{firma.nip}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>