<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id pilota:</th>
                <td>{{pilot.id_pilota}}</td>
            </tr> -->
            <tr>
                <th>Imie:</th>
                <td>{{pilot.imie}}</td>
            </tr>
            <tr>
                <th>Nazwisko:</th>
                <td>{{pilot.nazwisko}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>