<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id samolotu:</th>
                <td>{{samolot.id_samolotu}}</td>
            </tr> -->
            <tr>
                <td>Typ:</td>
                <td>{{samolot.typ}}</td>
            </tr>
            <tr>
                <td>Ilosc miejsc:</td>
                <td>{{samolot.iloscMiejsc}}</td>
            </tr>
            <tr>
                <th colspan="2">Firma lotnicza:</th>
            </tr>
            <tr>
                <td>Nazwa:</td>
                <td>{{samolot.firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Iata:</td>
                <td>{{samolot.firmaLotnicza.iata}}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{samolot.firmaLotnicza.adres}}</td>
            </tr>
            <tr>
                <td>Kraj:</td>
                <td>{{samolot.firmaLotnicza.kraj}}</td>
            </tr>
            <tr>
                <td>Nip:</td>
                <td>{{samolot.firmaLotnicza.nip}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>