<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id firmy lotniczej:</th>
                <td>{{firmaLotnicza.id_firmyLotniczej}}</td>
            </tr> -->
              <tr>
                <td>Nazwa:</td>
                <td>{{firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Iata:</td>
                <td>{{firmaLotnicza.iata}}</td>

            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{firmaLotnicza.adres}}</td>
            </tr>
            <tr>
                <td>Kraj:</td>
                <td>{{firmaLotnicza.kraj}}</td>
            </tr>
            <tr>
                <td>Nip:</td>
                <td>{{firmaLotnicza.nip}}</td>
            </tr>

            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
</div>