<div class="container">
    <div class="row">
        <table class="table">
            <!-- <tr>
                <th>Id biletu:</th>
                <td colspan="3">{{bilet.id_biletu}}</td>
            </tr> -->
            <tr>
                <td>Klasa:</td>
                <td colspan="3">{{bilet.klasa}}</td>
            </tr>
            <tr>
                <td>Nr miejsca:</td>
                <td colspan="3">{{bilet.nr_miejsca}}</td>
            </tr>
            <tr>
                <td>Firma lotnicza:</td>
                <td colspan="3">{{bilet.lot.samolot.firmaLotnicza.nazwa}}</td>
            </tr>
            <tr>
                <td>Typ samolotu:</td>
                <td colspan="3">{{bilet.lot.samolot.typ}}</td>
            </tr>
            <!-- <tr>
                <th colspan="4">Trasa:</th>
            </tr> -->
            <tr>
                <td>Początek:</td>
                <td>{{bilet.lot.trasa.poczatek.miejscowosc}}</td>
                <td>Koniec:</td>
                <td>{{bilet.lot.trasa.koniec.miejscowosc}}</td>
            </tr>
            <!-- <tr>
                <th colspan="4">Data lotu:</th>
            </tr> -->
            <tr>
                <td>Wylot:</td>
                <td>{{bilet.dataLotu.wylot|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>Przylot:</td>
                <td>{{bilet.dataLotu.przylot|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
    </div>
    <button ng-click="prepare(bilet)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Edytuj
    </button>
    <!-- Button trigger modal -->
    <div class="row">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edytuj bilet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <form name=formBilet novalidate>
                                <div class="form-group" ng-class="{ 'text-danger' : formBilet.klasa.$invalid && (formBilet.$submitted || formBilet.klasa.$touched)}">
                                    <div class="mw-100 col-sm-3">
                                        Klasa:
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <select class="custom-select" name="klasa" ng-model="bilet.klasa" required ng-class="{ 'is-invalid' : formBilet.klasa.$invalid && (formBilet.$submitted || formBilet.klasa.$touched) }">
                                            <option selected value="Ekonomiczna">Ekonomiczna</option>
                                            <option value="Biznes">Biznes</option>
                                            <option value="Pierwsza">Pierwsza</option>
                                        </select>
                                    </div>
                                    <div class="mw-100 col-sm-4" ng-show="formBilet.$submitted || formBilet.klasa.$touched">
                                        <div ng-show="formBilet.klasa.$error.required">
                                            Pole wymagane!</div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'text-danger' : formBilet.nr_miejsca.$invalid && (formBilet.$submitted || formBilet.nr_miejsca.$touched)}">
                                    <div class="mw-100 col-sm-3">
                                        <span>
                                            Nr miejsca:
                                        </span>
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <input class="form-control" type="number" ng-model="bilet.nr_miejsca" name="nr_miejsca" required ng-class="{ 'is-invalid' : formBilet.nr_miejsca.$invalid && (formBilet.$submitted || formBilet.nr_miejsca.$touched) }"
                                        />
                                    </div>
                                    <div class="mw-100 col-sm-4" ng-show="formBilet.$submitted || formBilet.nr_miejsca.$touched">
                                        <div ng-show="formBilet.nr_miejsca.$error.required">
                                            Pole wymagane!</div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'text-danger' : formBilet.id_lotu.$invalid && (formBilet.$submitted || formBilet.id_lotu.$touched)}">
                                    <div class="mw-100 col-sm-3">
                                        <span>
                                            Nr lotu:
                                        </span>
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <select class="custom-select" name="id_lotu" ng-model="bilet.lot" ng-options="lot.id_lotu for lot in loty" required ng-class="{ 'is-invalid' : formBilet.id_lotu.$invalid && (formBilet.$submitted || formBilet.id_lotu.$touched) }">
                                        </select>
                                    </div>
                                    <div class="mw-100 col-sm-4" ng-show="formBilet.$submitted || formBilet.id_lotu.$touched">
                                        <div ng-show="formBilet.id_lotu.$error.required">
                                            Pole wymagane!</div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="mw-100 col-sm-3">
                                        <span>
                                            Data lotu:
                                        </span>
                                    </div>
                                    <div class="mw-100 col-sm-3">
                                        <select class="custom-select" ng-model="bilet.dataLotu" ng-options="(data.wylot|date:'yyyy-MM-dd HH:mm')+' -> '+ (data.przylot|date:'yyyy-MM-dd HH:mm') for data in dates"></select>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-click="updateBilet()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>