<div class="container">
    <button ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add new
    </button>
    <div class="row">
        <div class="col-sm">
            Bilet id
        </div>
        <div class="col-sm-2">
            Klasa
        </div>
        <div class="col-sm-2">
            Nr miejsca
        </div>
        <div class="col-sm">
            Nr lotu
        </div>
        <div class="col-sm-4">
            Nr daty lotu
        </div>
        <div class="col-sm">
            Edit
        </div>
        <div class="col-sm">
            Delete
        </div>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="bilet in bilety">
            <div class="row">
                <div class="col-sm">
                    <span>
                        <a ng-href="http://localhost:8081/#!/bilety/{{bilet.id_biletu}}">{{bilet.id_biletu}}</a>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span>{{bilet.klasa}}</span>
                </div>
                <div class="col-sm-2">
                    <span>{{bilet.nr_miejsca}}</span>
                </div>
                <div class="col-sm">
                    <span>{{bilet.lot.id_lotu}}</span>
                </div>
                <div class="col-sm-4">
                    <span>{{bilet.dataLotu.wylot|date:'yyyy-MM-dd HH:mm'}} -> {{bilet.dataLotu.przylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
                <div class="col-sm">
                    <button ng-click="prepare(bilet)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Edit
                    </button>
                </div>
                <div class="col-sm">
                    <button type="button" ng-click="deleteBilet(bilet)" value="Delete" class="btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edit bilet</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Add new bilet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    Klasa:
                                </div>
                                <div class="col-sm-3">
                                    <select class="custom-select" ng-model="bilet.klasa">
                                        <option selected value="Ekonomiczna">Ekonomiczna</option>
                                        <option value="Biznes">Biznes</option>
                                        <option value="Pierwsza">Pierwsza</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nr miejsca:
                                    </span>
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" ng-model="bilet.nr_miejsca" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nr lotu:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" ng-model="bilet.lot" ng-options="lot.id_lotu for lot in loty"></select>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Data lotu:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <select class="custom-select" ng-model="bilet.dataLotu" ng-options="(data.wylot|date:'yyyy-MM-dd HH:mm')+' -> '+ (data.przylot|date:'yyyy-MM-dd HH:mm') for data in dates"></select>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-if="editMode" ng-click="updateBilet()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                        <button ng-if="!editMode" ng-click="saveBilet()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>