<div class="container">
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli data lotu:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nową datę:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data id</th>
                <th scope="col">Wylot</th>
                <th scope="col">Przylot</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in dates">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/daty/{{d.id_daty}}">{{d.id_daty}}</a>
                </th>
                <td>
                    <span>{{d.wylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
                <td>
                    <span>{{d.przylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
                <td>
                    <button ng-click="prepare(d)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteDate(d)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj datę lotu</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nową datę lotu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formDataLotu" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formDataLotu.wylot.$invalid && (formDataLotu.$submitted || formDataLotu.wylot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Data wylotu:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" type="datetime-local" name="wylot" id="wylot" ng-model="date.wylot" required ng-class="{ 'is-invalid' : formDataLotu.wylot.$invalid && (formDataLotu.$submitted || formDataLotu.wylot.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formDataLotu.$submitted || formDataLotu.wylot.$touched">
                                    <div ng-show="formDataLotu.wylot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formDataLotu.przylot.$invalid && (formDataLotu.$submitted || formDataLotu.przylot.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Data przylotu:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" type="datetime-local" name="przylot" pwCheck2='date.wylot' ng-model="date.przylot" required ng-class="{ 'is-invalid' : formDataLotu.przylot.$invalid && (formDataLotu.$submitted || formDataLotu.przylot.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formDataLotu.$submitted || formDataLotu.przylot.$touched">
                                    <div ng-show="formDataLotu.przylot.$error.required">
                                        Pole wymagane!</div>
                                </div>
                                <div ng-show="formDataLotu.$submitted || formDataLotu.przylot.$touched">
                                    <div ng-show="formDataLotu.przylot.$error.afterDate">
                                        Data przylotu musi być po dacie wylotu!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-if="!editMode" ng-click="saveDate()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="editMode" ng-click="updateDate()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>