<div class="container">

    <button ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add new
    </button>
    <div class="row">
        <div class="col-sm">
            Date id
        </div>
        <div class="col-sm-4">
            Departure date
        </div>
        <div class="col-sm-4">
            Date of arrival
        </div>
        <div class="col-sm">
            Edit
        </div>
        <div class="col-sm">
            Delete
        </div>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="date in dates">
            <div class="row">
                <div class="col-sm">
                    <span>
                        <a ng-href="http://localhost:8081/#!/daty/{{date.id_daty}}">{{date.id_daty}}</a>
                    </span>
                </div>
                <div class="col-sm-4">
                    <span>{{date.wylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
                <div class="col-sm-4">
                    <span>{{date.przylot|date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
                <div class="col-sm">
                    <button ng-click="prepare(date)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Edit
                    </button>
                </div>
                <div class="col-sm">
                    <button type="button" ng-click="deleteDate(date)" value="Delete" class="btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edit data lotu</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Add new data lotu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Departure date:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" type="datetime-local" ng-model="date.wylot" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Date of arrival:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-3">
                                    <input class="form-control" type="datetime-local" ng-model="date.przylot" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-if="!editMode" ng-click="saveDate()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                        <button ng-if="editMode" ng-click="updateDate()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>