<div class="container">
    <button ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add new
    </button>
    <div class="row">
        <div class="col-sm-2">
            Firma id
        </div>
        <div class="col-sm-3">
            Nazwa
        </div>
        <div class="col-sm-3">
            Nip
        </div>
        <div class="col-sm">
            Edit
        </div>
        <div class="col-sm">
            Delete
        </div>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="firma in firmy">
            <div class="row">
                <div class="col-sm-2">
                    <span>
                        <a ng-href="http://localhost:8081/#!/firmy/{{firma.id_firmy}}">{{firma.id_firmy}}</a>
                    </span>
                </div>
                <div class="col-sm-3">
                    <span>{{firma.nazwa}}</span>

                </div>
                <div class="col-sm-3">
                    <span>{{firma.nip}}</span>
                </div>
                <div class="col-sm">
                    <button ng-click="prepare(firma)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Edit
                    </button>
                </div>
                <div class="col-sm">
                    <button type="button" ng-click="deleteFirma(firma)" value="Delete" class="btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edit firma</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Add new firma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nazwa:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-4">
                                    <input class="form-control" type="text" ng-model="firma.nazwa" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span>
                                        Nip:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-4">
                                    <input class="form-control" type="number" ng-model="firma.nip" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-if="editMode" ng-click="updateFirma()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                        <button ng-if="!editMode" ng-click="saveFirma()" data-dismiss="modal" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>