<div class="container">
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli firma:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nową firmę:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Firma id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Nip</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in firmy">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/firmy/{{f.id_firmy}}">{{f.id_firmy}}</a>
                </th>
                <td>
                    <span>{{f.nazwa}}</span>
                </td>
                <td>
                    <span>{{f.nip}}</span>
                </td>
                <td>
                    <button ng-click="prepare(f)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteFirma(f)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj firmę</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nową firmę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formFirma" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirma.nazwa.$invalid && (formFirma.$submitted || formFirma.nazwa.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Nazwa:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-4">
                                    <input class="form-control" name="nazwa" ng-class="{ 'is-invalid' : formFirma.nazwa.$invalid && (formFirma.$submitted || formFirma.nazwa.$touched) }"
                                        type="text" ng-model="firma.nazwa" required/>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirma.$submitted || formFirma.nazwa.$touched">
                                    <div ng-show="formFirma.nazwa.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirma.nip.$invalid && (formFirma.$submitted || formFirma.nip.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Nip:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-4">
                                    <input class="form-control" name="nip" ng-class="{ 'is-invalid' : formFirma.nip.$invalid && (formFirma.$submitted || formFirma.nip.$touched) }"
                                        type="number" ng-model="firma.nip" minlength="10" maxlength="10" required/>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirma.$submitted || formFirma.nip.$touched">
                                    <div ng-show="formFirma.nip.$error.required">
                                        Pole wymagane!</div>
                                    <div ng-show="formFirma.nip.$error.minlength || formFirma.nip.$error.maxlength">
                                        Wartość musi się składać z 10 cyfr!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-if="editMode" ng-click="updateFirma()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="!editMode" ng-click="saveFirma()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>