<div class="container">
    <div class="se-pre-con"></div>
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli firma lotnicza:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nową firmę lotniczą:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Firma lotnicza id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Nip</th>
                <th scope="col">Kraj</th>
                <th scope="col">Adres</th>
                <th scope="col">Iata</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in firmyLotnicze">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/firmyLotnicze/{{f.id_firmyLotniczej}}">{{f.id_firmyLotniczej}}</a>
                </th>

                <td>
                    <span>{{f.nazwa}}</span>

                </td>
                <td>
                    <span>{{f.nip}}</span>

                </td>
                <td>
                    <span>{{f.kraj}}</span>

                </td>
                <td>
                    <span>{{f.adres}}</span>

                </td>
                <td>
                    <span>{{f.iata}}</span>

                </td>
                <td>
                    <button ng-click="prepare(f)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteFirma(f)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj firmę lotniczą</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nową firmę lotniczą</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formFirmaLotnicza" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.nazwa.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Nazwa:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="nazwa" type="text" ng-model="firmaLotnicza.nazwa" required ng-class="{ 'is-invalid' : formFirmaLotnicza.nazwa.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched">
                                    <div ng-show="formFirmaLotnicza.nazwa.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.iata.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Iata:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="iata" minlength="2" maxlength="2" type="text" ng-model="firmaLotnicza.iata" required ng-class="{ 'is-invalid' : formFirmaLotnicza.iata.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched">
                                    <div ng-show="formFirmaLotnicza.iata.$error.required">
                                        Pole wymagane!</div>
                                    <div ng-show="formFirmaLotnicza.iata.$error.minlength || formFirmaLotnicza.iata.$error.maxlength">
                                        Wartość musi się składać z 2 znaków!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.adres.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Adres:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="adres" type="text" maxlength="25" ng-model="firmaLotnicza.adres" required ng-class="{ 'is-invalid' : formFirmaLotnicza.adres.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched">
                                    <div ng-show="formFirmaLotnicza.adres.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.kraj.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Kraj:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="kraj" type="text" ng-model="firmaLotnicza.kraj" required ng-class="{ 'is-invalid' : formFirmaLotnicza.kraj.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched">
                                    <div ng-show="formFirmaLotnicza.kraj.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.nip.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Nip:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-4">
                                    <input class="form-control" name="nip" ng-class="{ 'is-invalid' : formFirmaLotnicza.nip.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched) }"
                                        type="number" ng-model="firmaLotnicza.nip" minlength="10" maxlength="10" required/>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched">
                                    <div ng-show="formFirmaLotnicza.nip.$error.required">
                                        Pole wymagane!</div>
                                    <div ng-show="formFirmaLotnicza.nip.$error.minlength || formFirmaLotnicza.nip.$error.maxlength">
                                        Wartość musi się składać z 10 cyfr!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-if="editMode" ng-click="updateFirmaLotnicza()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="!editMode" ng-click="saveFirmaLotnicza()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>