<div class="container">
    <div class="row">
        <div class="w-100 alert alert-danger alert-dismissible fade show" ng-if="error" role="alert">
            <strong>Błąd! </strong>{{error}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <form name="loginForm" ng-submit="login(credentials)" novalidate>
            <div class="center-block form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" ng-model="credentials.user_name">

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" ng-model="credentials.user_password">
                </div>
                <button class="btn btn-primary" type="submit">Login</button> 
        </form>
        </div>
    </div>