<div class="container">
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli lotnisko:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nowe lotnisko:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lotnisko id</th>
                <th scope="col">Iata</th>
                <th scope="col">Miejscowosc</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in lotniska">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/lotniska/{{l.id_lotniska}}">{{l.id_lotniska}}</a>
                </th>
                <td>
                    <span>{{l.iata}}</span>
                </td>
                <td>
                    <span>{{l.miejscowosc}}</span>
                </td>
                <td>
                    <button ng-click="prepare(l)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteLotnisko(l)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj lotnisko</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nowe lotnisko</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formLotnisko" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Miejscowosc:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="miejscowosc" type="text" ng-model="lotnisko.miejscowosc" required ng-class="{ 'is-invalid' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.miejscowosc.$touched">
                                    <div ng-show="formLotnisko.miejscowosc.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Iata:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="iata" type="text" ng-model="lotnisko.iata" minlength="3" maxlength="3" required ng-class="{ 'is-invalid' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.iata.$touched">
                                    <div ng-show="formLotnisko.iata.$error.required">
                                        Pole wymagane!</div>
                                    <div ng-show="formLotnisko.iata.$error.minlength || formLotnisko.iata.$error.maxlength">
                                        The value must have 3 characters!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-if="editMode" ng-click="updateLotnisko()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="!editMode" ng-click="saveLotnisko()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>