<div class="container">
    <form>
        <div class="form-group">
            <div class="col-sm-3">
                <span>
                    Iata:
                </span>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="iata" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <span>
                    Miejscowosc:
                </span>
            </div>
            <div class="col-sm-8">
                <input class="form-control" type="text" ng-model="miejscowosc" />
            </div>
        </div>
        <div class="col-sm">
            <button ng-click="saveLotnisko(iata,miejscowosc)" type="submit" class="btn btn-submit">Submit</button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-2">
            Lotnisko id
        </div>
        <div class="col-sm-2">
            Iata
        </div>
        <div class="col-sm-2">
            Miejscowosc
        </div>
        <div class="col-sm">
            Edit
        </div>
        <div class="col-sm">
            Delete
        </div>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="lotnisko in lotniska">
            <div class="row">
                <div class="col-sm-2">
                    <span>
                        <a ng-href="http://localhost:8081/#!/lotniska/{{lotnisko.id_lotniska}}">{{lotnisko.id_lotniska}}</a>
                    </span>
                </div>
                <div class="col-sm-2">
                    <span ng-if="!lotnisko.editMode">{{lotnisko.iata}}</span>
                    <span ng-if="lotnisko.editMode">
                        <input class="form-control" type="text" ng-model="lotnisko.iata">
                        <span>
                </div>
                <div class="col-sm-2">
                    <span ng-if="!lotnisko.editMode">{{lotnisko.miejscowosc}}</span>
                    <span ng-if="lotnisko.editMode">
                        <input class="form-control" type="text" ng-model="lotnisko.miejscowosc">
                        <span>
                </div>
                <div class="col-sm">
                    <button ng-if="!lotnisko.editMode" type="button" ng-click="lotnisko.editMode=true;" value="Edit" class="btn">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button ng-if="lotnisko.editMode" class="btn" ng-click="updateLotnisko(lotnisko);lotnisko.editMode=false;">Save</button>
                </div>
                <div class="col-sm">
                    <button type="button" ng-click="deleteLotnisko(lotnisko)" value="Delete" class="btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>