<div class="container">
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli pilot:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nowego pilota:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Pilot id</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in pilots">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/piloci/{{p.id_pilota}}">{{p.id_pilota}}</a>
                </th>
                <td>
                    <span>{{p.imie}}</span>
                </td>
                <td>
                    <span>{{p.nazwisko}}</span>
                </td>
                <td>
                    <button ng-click="prepare(p)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deletePilot(p)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj pilota</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nowego pilota</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formPilot" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Name:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="imie" type="text" ng-model="pilot.imie" required ng-class="{ 'is-invalid' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.imie.$touched">
                                    <div ng-show="formPilot.imie.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Surname:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" name="nazwisko" type="text" ng-model="pilot.nazwisko" required ng-class="{ 'is-invalid' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.nazwisko.$touched">
                                    <div ng-show="formPilot.nazwisko.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-if="editMode" ng-click="updatePilot()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="!editMode" ng-click="savePilot()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>