<div class="container">
    <div class="row">
        <div class="w-100 alert alert-danger alert-dismissible fade show" ng-if="errors.length>0" role="alert">
            <ul class="list-unstyled">
                <li ng-repeat="error in errors">
                    <strong>{{error}}</strong>
                </li>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <form name="registerForm" novalidate>
            <div class="form-group" ng-class="{ 'text-danger' : registerForm.username.$invalid && (registerForm.$submitted || registerForm.username.$touched)}">
                <label for="username">Username:</label>
                <input class="form-control" ng-class="{ 'is-invalid' : registerForm.username.$invalid && (registerForm.$submitted || registerForm.username.$touched) }"
                    type="text" name="username" ng-model="user_name" required>
                <div ng-show="registerForm.$submitted || registerForm.username.$touched">
                    <div ng-show="registerForm.username.$error.required">
                        Required!</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'text-danger' : registerForm.pass1.$invalid && (registerForm.$submitted || registerForm.pass1.$touched)}">
                <label for="pass1">Password:</label>
                <input class="form-control" ng-class="{ 'is-invalid' : registerForm.pass1.$invalid && (registerForm.$submitted || registerForm.pass1.$touched) }"
                    type="password" name="pass1" id="pass1" ng-model="pass1" required>
                <div ng-show="registerForm.$submitted || registerForm.pass1.$touched">
                    <div ng-show="registerForm.pass1.$error.required">
                        Required!</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'text-danger' : registerForm.pass2.$invalid && (registerForm.$submitted || registerForm.pass2.$touched)}">
                <label for="pass2">Confirm password:</label>
                <input class="form-control" type="password" ng-class="{ 'is-invalid' : registerForm.pass2.$invalid && (registerForm.$submitted || registerForm.pass2.$touched) }"
                    name="pass2" id="pass2" ng-model="pass2" required pw-check='pass1'>
                <div ng-show="registerForm.$submitted || registerForm.pass2.$touched">
                    <div ng-show="registerForm.pass2.$error.required">
                        Required!</div>
                </div>
                <div ng-show="registerForm.$submitted || registerForm.pass2.$touched">
                    <div ng-show="registerForm.pass2.$error.pwmatch">
                        Passwords don't match!</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'text-danger' : registerForm.role.$invalid && (registerForm.$submitted || registerForm.role.$touched)}">
                <label for="role">Role:</label>
                <select class="form-control" name="role" ng-model="user_role" required>
                    <option value="klient">Klient</option>
                    <option value="firma">Firma</option>
                    <option value="pilot">Pilot</option>
                    <option value="firmaLotnicza">Firma Lotnicza</option>
                    <option value="lotnisko">Lotnisko</option>
                </select>
                <div ng-show="registerForm.$submitted || registerForm.role.$touched">
                    <div ng-show="registerForm.role.$error.required">
                        Required!</div>
                </div>
            </div>
            <button ng-click="prepare(user_name,pass1,pass2,user_role)" type="submit" class="btn btn-primary">
                Next
            </button>
        </form>
        <!-- ng-submit="register(user_name,pass1,pass2,user_role)" -->
    </div>
</div>
<div class="row">
    <div class="modal fade" id="klient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new klient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="formKlient" novalidate>
                        <div class="form-group" ng-class="{ 'text-danger' : formKlient.imie.$invalid && (formKlient.$submitted || formKlient.imie.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Imie:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="imie" ng-class="{ 'is-invalid' : formKlient.imie.$invalid && (formKlient.$submitted || formKlient.imie.$touched) }"
                                    type="text" ng-model="klient.imie" required />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formKlient.$submitted || formKlient.imie.$touched">
                                <div ng-show="formKlient.imie.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formKlient.nazwisko.$invalid && (formKlient.$submitted || formKlient.nazwisko.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Nazwisko:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="nazwisko" ng-class="{ 'is-invalid' : formKlient.nazwisko.$invalid && (formKlient.$submitted || formKlient.nazwisko.$touched) }"
                                    type="text" ng-model="klient.nazwisko" required/>
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formKlient.$submitted || formKlient.nazwisko.$touched">
                                <div ng-show="formKlient.nazwisko.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="saveKlient()" data-dismiss="modal" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade" id="firma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new firma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="formFirma" novalidate>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirma.nazwa.$invalid && (formFirma.$submitted || formFirma.nazwa.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Nazwa:
                                </span>
                            </div>
                            <div class="mw-100 col-sm-4">
                                <input class="form-control" name="nazwa" ng-class="{ 'is-invalid' : formFirma.nazwa.$invalid && (formFirma.$submitted || formFirma.nazwa.$touched) }"
                                    type="text" ng-model="firma.nazwa" required/>
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirma.$submitted || formFirma.nazwa.$touched">
                                <div ng-show="formFirma.nazwa.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirma.nip.$invalid && (formFirma.$submitted || formFirma.nip.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Nip:
                                </span>
                            </div>
                            <div class="mw-100 col-sm-4">
                                <input class="form-control" name="nip" ng-class="{ 'is-invalid' : formFirma.nip.$invalid && (formFirma.$submitted || formFirma.nip.$touched) }"
                                    type="number" ng-model="firma.nip" minlength="10" maxlength="10" required/>
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirma.$submitted || formFirma.nip.$touched">
                                <div ng-show="formFirma.nip.$error.required">
                                    Required!</div>
                                <div ng-show="formFirma.nip.$error.minlength || formFirma.nip.$error.maxlength">
                                    The value must have 10 digits!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="saveFirma()" data-dismiss="modal" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade" id="pilot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new pilot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="formPilot" novalidate>
                        <div class="form-group" ng-class="{ 'text-danger' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Name:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="imie" type="text" ng-model="pilot.imie" required ng-class="{ 'is-invalid' : formPilot.imie.$invalid && (formPilot.$submitted || formPilot.imie.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.imie.$touched">
                                <div ng-show="formPilot.imie.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Surname:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="nazwisko" type="text" ng-model="pilot.nazwisko" required ng-class="{ 'is-invalid' : formPilot.nazwisko.$invalid && (formPilot.$submitted || formPilot.nazwisko.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formPilot.$submitted || formPilot.nazwisko.$touched">
                                <div ng-show="formPilot.nazwisko.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="savePilot()" data-dismiss="modal" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade" id="firmaLotnicza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new firma lotnicza</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="formFirmaLotnicza" novalidate>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.nazwa.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Nazwa:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="nazwa" type="text" ng-model="firmaLotnicza.nazwa" required ng-class="{ 'is-invalid' : formFirmaLotnicza.nazwa.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.nazwa.$touched">
                                <div ng-show="formFirmaLotnicza.nazwa.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.iata.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Iata:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="iata" minlength="2" maxlength="2" type="text" ng-model="firmaLotnicza.iata" required ng-class="{ 'is-invalid' : formFirmaLotnicza.iata.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.iata.$touched">
                                <div ng-show="formFirmaLotnicza.iata.$error.required">
                                    Required!</div>
                                    <div ng-show="formFirmaLotnicza.iata.$error.minlength || formFirmaLotnicza.iata.$error.maxlength">
                                        The value must have 2 characters!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.adres.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Adres:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="adres" type="text" maxlength="25" ng-model="firmaLotnicza.adres" required ng-class="{ 'is-invalid' : formFirmaLotnicza.adres.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.adres.$touched">
                                <div ng-show="formFirmaLotnicza.adres.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.kraj.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Kraj:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="kraj" type="text" ng-model="firmaLotnicza.kraj" required ng-class="{ 'is-invalid' : formFirmaLotnicza.kraj.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.kraj.$touched">
                                <div ng-show="formFirmaLotnicza.kraj.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formFirmaLotnicza.nip.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Nip:
                                </span>
                            </div>
                            <div class="mw-100 col-sm-4">
                                <input class="form-control" name="nip" ng-class="{ 'is-invalid' : formFirmaLotnicza.nip.$invalid && (formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched) }"
                                    type="number" ng-model="firmaLotnicza.nip" minlength="10" maxlength="10" required/>
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formFirmaLotnicza.$submitted || formFirmaLotnicza.nip.$touched">
                                <div ng-show="formFirmaLotnicza.nip.$error.required">
                                    Required!</div>
                                <div ng-show="formFirmaLotnicza.nip.$error.minlength || formFirmaLotnicza.nip.$error.maxlength">
                                    The value must have 10 digits!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="saveFirmaLotnicza()" data-dismiss="modal" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade" id="lotnisko" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new lotnisko</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="formLotnisko" novalidate>
                        <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Miejscowosc:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="miejscowosc" type="text" ng-model="lotnisko.miejscowosc" required ng-class="{ 'is-invalid' : formLotnisko.miejscowosc.$invalid && (formLotnisko.$submitted || formLotnisko.miejscowosc.$touched) }"
                                />
                            </div>
                            <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.miejscowosc.$touched">
                                <div ng-show="formLotnisko.miejscowosc.$error.required">
                                    Required!</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'text-danger' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched)}">
                            <div class="col-sm-3">
                                <span>
                                    Iata:
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" name="iata" type="text" ng-model="lotnisko.iata" minlength="3" maxlength="3" required ng-class="{ 'is-invalid' : formLotnisko.iata.$invalid && (formLotnisko.$submitted || formLotnisko.iata.$touched) }"
                                />
                            </div>

                            <div class="mw-100 col-sm-4" ng-show="formLotnisko.$submitted || formLotnisko.iata.$touched">
                                <div ng-show="formLotnisko.iata.$error.required">
                                    Required!</div>
                                <div ng-show="formLotnisko.iata.$error.minlength || formLotnisko.iata.$error.maxlength">
                                    The value must have 3 characters!</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="saveLotnisko()" data-dismiss="modal" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>