<div class="container">
    <div class="se-pre-con"></div>
    <div class="row justify-content-end">
        <div class="mw-100 col-4">
            <h4 style="margin: 20px">Dane tabeli samolot:</h4>
        </div>
        <div class="mw-100 col-3 text-right">
            <p style="margin-top: 25px;">
                <b>Dodaj nowy samolot:</b>
            </p>
        </div>
        <div class="mw-100 col-1">
            <button style="margin: 20px" ng-click="prepareNew()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Samolot id</th>
                <th scope="col">Typ</th>
                <th scope="col">Ilosc miejsc</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in samoloty">
                <th scope="row">
                    <a ng-href="http://localhost:8081/#!/samoloty/{{s.id_samolotu}}">{{s.id_samolotu}}</a>
                </th>
                <td>
                    <span>{{s.typ}}</span>
                </td>
                <td>
                    <span>{{s.iloscMiejsc}}</span>
                </td>
                <td>
                    <button ng-click="prepare(s)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteSamolot(s)" value="Delete" class="btn btn-primary">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 ng-if="editMode" class="modal-title" id="exampleModalLabel">Edytuj samolot</h5>
                        <h5 ng-if="!editMode" class="modal-title" id="exampleModalLabel">Dodaj nowy samolot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formSamolot" novalidate>
                            <div class="form-group" ng-class="{ 'text-danger' : formSamolot.typ.$invalid && (formSamolot.$submitted || formSamolot.typ.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Typ:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" type="text" name='typ' ng-model="samolot.typ" required ng-class="{ 'is-invalid' : formSamolot.typ.$invalid && (formSamolot.$submitted || formSamolot.typ.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formSamolot.$submitted || formSamolot.typ.$touched">
                                    <div ng-show="formSamolot.typ.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formSamolot.iloscMiejsc.$invalid && (formSamolot.$submitted || formSamolot.iloscMiejsc.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Ilosc miejsc:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <input class="form-control" type="number" name='iloscMiejsc' ng-model="samolot.iloscMiejsc" required ng-class="{ 'is-invalid' : formSamolot.iloscMiejsc.$invalid && (formSamolot.$submitted || formSamolot.iloscMiejsc.$touched) }"
                                    />
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formSamolot.$submitted || formSamolot.iloscMiejsc.$touched">
                                    <div ng-show="formSamolot.iloscMiejsc.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'text-danger' : formSamolot.firmaLotnicza.$invalid && (formSamolot.$submitted || formSamolot.firmaLotnicza.$touched)}">
                                <div class="mw-100 col-sm-3">
                                    <span>
                                        Firma lotnicza:
                                    </span>
                                </div>
                                <div class="mw-100 col-sm-8">
                                    <select class="custom-select" ng-model="samolot.firmaLotnicza" name='firmaLotnicza' required ng-options="firma.nazwa+' '+firma.kraj for firma in firmyLotnicze"
                                        ng-class="{ 'is-invalid' : formSamolot.firmaLotnicza.$invalid && (formSamolot.$submitted || formSamolot.firmaLotnicza.$touched) }"></select>
                                </div>
                                <div class="mw-100 col-sm-4" ng-show="formSamolot.$submitted || formSamolot.firmaLotnicza.$touched">
                                    <div ng-show="formSamolot.firmaLotnicza.$error.required">
                                        Pole wymagane!</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button ng-if="editMode" ng-click="updateSamolot()" type="submit" class="btn btn-primary">Zapisz</button>
                        <button ng-if="!editMode" ng-click="saveSamolot()" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>